<app-menu></app-menu>
<h2>Customers</h2>
<input type="button" (click)="gotoAddCustomer()" value="Add"/> <br/><br/>
<!-- <app-customer-form [selectId]="selectCustomerId" (doUpdate)=updateCustomer($event)></app-customer-form> -->
<form>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput name="name" placeholder="name" [(ngModel)]="customer.name"><br><br>
    </mat-form-field><br/>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" placeholder="email" [(ngModel)]="customer.email"><br><br>
    </mat-form-field><br/>
    <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput name="phone" placeholder="phone" [(ngModel)]="customer.phone"><br><br>
    </mat-form-field><br/>
    <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput name="address" placeholder="address" [(ngModel)]="customer.address"><br><br>
    </mat-form-field><br/>
  <mat-form-field appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input name="dob" matInput [matDatepicker]="picker" [(ngModel)]="customer.dob">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>&nbsp;
  <button mat-stroked-button (click)="picker.open()">Open</button> <br/>
  <button mat-flat-button (click)="addUpdateCustomer()">{{addButtonLabel}}</button> <br/>

  </form>
  <table mat-table [dataSource]="customers" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <ng-container matColumnDef="DoB">
        <th mat-header-cell *matHeaderCellDef> DoB </th>
        <td mat-cell *matCellDef="let element"> {{element.dob|date}} </td>
      </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"><button (click)="doEdit(element.id)" > Edit</button>   </td>
      </ng-container>
      <ng-container matColumnDef="copy">
        <th mat-header-cell *matHeaderCellDef> Copy </th>
        <td mat-cell *matCellDef="let element"> <button  (click)="doCopy(element.id)" > Copy</button></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button  (click)="doDelete(element.id)" > Delete</button></td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button (click)="selectCustomerId = customer.id;" class="btn btn-info" style="margin-left: 10px">Select</button>
  <app-customer-form 
  [selectId]="selectCustomerId" 
  [customer]="customer"
  (doUpdate)=updateCustomer($event)
  [customer]="customer" (doCancel)=doCancel() (doUpdate)=updateCustomer($event)></app-customer-form>
